<div class="container">
    <h2>Doctors Management</h2>
    <p class="error" ng-show="errorMessage">{{ errorMessage }}</p>

    <!-- Add Doctor Form -->
    <h3>Add New Doctor</h3>
    <form ng-submit="addDoctor()">
        <input type="text" ng-model="newDoctor.name" placeholder="Name" required>
        <input type="text" ng-model="newDoctor.specialization" placeholder="Specialization" required>
        <input type="text" ng-model="newDoctor.contact" placeholder="Contact" required>
        <input type="email" ng-model="newDoctor.email" placeholder="Email" required>
        <input type="number" ng-model="newDoctor.experience" placeholder="Experience (years)" required>
        <button type="submit">Add Doctor</button>
    </form>

    <!-- List of Doctors -->
    <h3>Doctor List</h3>
    <ul>
        <li ng-repeat="doctor in doctors">
            {{ doctor.name }} - {{ doctor.specialization }} 
            <button ng-click="deleteDoctor(doctor._id)">Delete</button>
        </li>
    </ul>
</div>
